<ul class="pagination pagination-sm">
    <li ng-if="m.getFirstPage()">
        <a ng-href="{{m.getPage(m.getFirstPage())}}">First</a>
    </li>
    <li ng-if="!m.getFirstPage()" class="disabled">
        <a>First</a>
    </li>
    <li ng-if="m.getPrevPage()">
        <a ng-href="{{m.getPage(m.getPrevPage())}}">Prev</a>
    </li>
    <li ng-if="!m.getPrevPage()" class="disabled">
        <a>Prev</a>
    </li>
    <li ng-repeat="i in m.getPages()" ng-class="m.checkCurrentPage(i) ? 'disabled' : ''" ng-if="m.isVisible(i)">
        <a ng-href="{{m.getPage(i)}}">{{i}}</a>
    </li>
    <li ng-if="m.getNextPage()">
        <a ng-href="{{m.getPage(m.getNextPage())}}">Next</a>
    </li>
    <li ng-if="!m.getNextPage()" class="disabled">
        <a>Next</a>
    </li>
    <li ng-if="m.getLastPage()">
        <a ng-href="{{m.getPage(m.getLastPage())}}">Last</a>
    </li>
    <li ng-if="!m.getLastPage()" class="disabled">
        <a>Last</a>
    </li>
</ul>