# these top-level configs are the defaults applied to each section
severity = 'medium'
confidence = 85
restriction = 'need-to-know'
alternativeid_restriction = 'public'
source = 'localhost'
guid = everyone

[sshbl.org]
feed = 'http://www.openbl.org/lists/date_all.txt'
parser = txt
regex = '^(\S+)[\s]+(\d+)$'
regex_values = 'ipv4,detecttime'
source = sshbl.org
assessment = 'scanner'
description = 'ssh'
portlist = 22
protocol = tcp
alternativeid = 'http://www.openbl.org/lists/date_all.txt'
period = hourly

[bruteforceblocker]
feed = 'http://danger.rulez.sk/projects/bruteforceblocker/blist.php'
parser = txt
regex = '^(\S+)[\s|\t]+#\s(\S+\s\S+)'
regex_values = 'ipv4,detecttime'
source = 'danger.rulez.sk'
portlist = 22
protocol = tcp
assessment = 'scanner'
description = 'ssh'
alternativeid = 'http://danger.rulez.sk/projects/bruteforceblocker/blist.php'
period = hourly

[threatexpert]
feed = 'http://www.threatexpert.com/latest_threat_reports.aspx'
parser = xpath
node_xpath = '/rss/channel/item'
xpathregex1 = './link', 'md5=([a-f0-9]{32})$', hash
xpathregex2 = './title', '([\s\S]+)', description
xpathregex3 = './guid', '(\S+)', alternativeid
xpathregex4 = './pubDate', '([\s\S]+)', detecttime
assessment = 'malware'
source = 'threatexpert.com'
severity = high
confidence = 95
# until we can figure out what they're doing
disabled = true

[malware_blacklist]
feed = 'http://www.malwareblacklist.com/mbl.xml'
parser = xpath
node_xpath = '/rss/channel/item'
xpathregex1 = './link', '(\S+)', alternativeid
xpathregex2 = './title', '(\S+)', url
assessment = 'malware'
confidence = 85
source = 'malwareblacklist.com'
alternativeid_restriction = public
severity = medium
description = unknown
# they seem to have gone to an application model
disabled = true
