services: 
  - rabbitmq
  - mongodb

env:
    global:
      - JRUBY_OPTS=--debug
      - PERL5LIB=$TRAVIS_BUILD_DIR/p5-Cikl/lib:$TRAVIS_BUILD_DIR/p5-Cikl-RabbitMQ/lib
      - TEST_CLUSTER_COMMAND=/tmp/elasticsearch-1.2.1/bin/elasticsearch

matrix:
  include:
    - language: ruby
      rvm: 1.9.3
      env: TEST_LANGUAGE=ruby PROJECT_DIR=src/ruby/cikl-api/
    - language: ruby
      rvm: 2.0.0
      env: TEST_LANGUAGE=ruby PROJECT_DIR=src/ruby/cikl-api/
    - language: ruby
      rvm: 2.1.0
      env: TEST_LANGUAGE=ruby PROJECT_DIR=src/ruby/cikl-api/
    - language: ruby
      rvm: 1.9.3
      env: TEST_LANGUAGE=ruby PROJECT_DIR=src/ruby/cikl-worker/
    - language: ruby
      rvm: 2.0.0
      env: TEST_LANGUAGE=ruby PROJECT_DIR=src/ruby/cikl-worker/
    - language: ruby
      rvm: 2.1.0
      env: TEST_LANGUAGE=ruby PROJECT_DIR=src/ruby/cikl-worker/
    - language: perl
      perl: 5.14
      env: TEST_LANGUAGE=perl
    - language: perl
      perl: 5.16
      env: TEST_LANGUAGE=perl
    - language: perl
      perl: 5.18
      env: TEST_LANGUAGE=perl

before_install:
  - travis_retry sudo apt-get update -qq
  - travis_retry curl -# https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-1.2.1.tar.gz | tar xz -C /tmp || true
  - travis_retry travis/$TEST_LANGUAGE/before_install.sh

install: 
  - travis_retry travis/$TEST_LANGUAGE/install.sh

script:
  - travis_retry travis/$TEST_LANGUAGE/script.sh
