services: rabbitmq

env:
    global:
      - JRUBY_OPTS=--debug
      - PERL5LIB=$TRAVIS_BUILD_DIR/p5-Cikl/lib:$TRAVIS_BUILD_DIR/p5-Cikl-RabbitMQ/lib

matrix:
  include:
    - language: ruby
      rvm: 1.9.3
      env: TEST_LANGUAGE=ruby
    - language: ruby
      rvm: 2.0.0
      env: TEST_LANGUAGE=ruby
    - language: ruby
      rvm: 2.1.0
      env: TEST_LANGUAGE=ruby
    - language: perl
      perl: 5.14
      env: TEST_LANGUAGE=perl
    - language: perl
      perl: 5.16
      env: TEST_LANGUAGE=perl
    - language: perl
      perl: 5.18
      env: TEST_LANGUAGE=perl

before_install:
  - sudo apt-get update -qq
  - travis/$TEST_LANGUAGE/before_install.sh

install: 
  - travis/$TEST_LANGUAGE/install.sh

script:
  - travis/$TEST_LANGUAGE/script.sh
