<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><strong>cikl</strong></a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <select class="input form-control" ng-model="m.artifact.type" ng-options="type for type in m.types" name="search-type" id="search-type">
                        <option value>- select type -</option>
                    </select>
                    <input class="input form-control" ng-model="m.artifact.term" type="text" name="search-term" id="search-term" placeholder="artifact...">
                </div>
                <button class="btn btn-default" ng-click="m.formSearch(m.artifact)"><span class="glyphicon glyphicon-search"></span></button>
            </form>
            <!--
            <form novalidate class="navbar-form navbar-right">
                <input ng-model="user.email" class="input-sm form-control" type="email" placeholder="Email">
                <input ng-model="user.password" class="input-sm form-control" type="password" placeholder="Password">
                <button class="btn-sm btn-inverse" ng-click="login(user)"><strong>Log In</strong></button>
            </form>
            -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3 col-md-2">
        </div>

        <div class="col-sm-9 col-md-10">

            <div class="row page-nav">
                <div class="col-sm-2 text-left">
                    <div class="text-primary">{{m.getShowingStart()}}-{{m.getShowingEnd()}} of {{m.getTotalItems()}} events</div>
                </div>
                <div class="col-sm-8 text-center">
                    <div page-selector></div>
                </div>
                <div class="col-sm-2 text-right">
                    <div items-per-page-selector></div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title"><span class="text-muted">Sources</span></h3>
                    </div>
                    <div class="panel-body">
                        <div class="checkbox" ng-repeat="source in m.query.facets.sources">
                            <label>
                                <input type="checkbox">
                                <a href="#"><span class="badge alert-info">{{source[0]}} ({{source[1]}})</span></a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title"><span class="text-muted">Providers</span></h3>
                    </div>
                    <div class="panel-body">
                        <div class="checkbox" ng-repeat="provider in m.query.facets.feed_providers">
                            <label>
                                <input type="checkbox">
                                <a href="#"><span class="badge alert-warning">{{provider[0]}} ({{provider[1]}})</span></a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title"><span class="text-muted">Feeds</span></h3>
                    </div>
                    <div class="panel-body">
                        <div class="checkbox" ng-repeat="name in m.query.facets.feed_names">
                            <label>
                                <input type="checkbox">
                                <a href="#"><span class="badge alert-danger">{{name[0]}} ({{name[1]}})</span></a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">
                            <span class="text-muted">Filter Times</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <small ng-if="m.getDetectMin()" class="text-muted">detect min</small>
                        <button ng-if="m.getDetectMin()" class="btn btn-xs btn-link" ng-click="m.removeDetectMin()">
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        </button>
                        <br ng-if="m.getDetectMin()" />
                        <small>{{m.getDetectMin()}}</small>
                        <br ng-if="m.getDetectMin()">

                        <small ng-if="m.getDetectMax()" class="text-muted">detect max</small>
                        <button ng-if="m.getDetectMax()" class="btn btn-xs btn-link" ng-click="m.removeDetectMax()">
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        </button>
                        <br ng-if="m.getDetectMax()" />
                        <small>{{m.getDetectMax()}}</small>
                        <br ng-if="m.getDetectMax()">

                        <small ng-if="m.getImportMin()" class="text-muted">import min</small>
                        <button ng-if="m.getImportMin()" class="btn btn-xs btn-link" ng-click="m.removeImportMin()">
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        </button>
                        <br ng-if="m.getImportMin()" />
                        <small>{{m.getImportMin()}}</small>
                        <br ng-if="m.getImportMin()">

                        <small ng-if="m.getImportMax()" class="text-muted">import max</small>
                        <button ng-if="m.getImportMax()" class="btn btn-xs btn-link" ng-click="m.removeImportMax()">
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        </button>
                        <br ng-if="m.getImportMax()" />
                        <small>{{m.getImportMax()}}</small>
                        <br ng-if="m.getImportMax()">

                        <div class="text-center">
                            <button ng-if="!m.checkDateFilter()" class="btn btn-xs btn-link" ng-click="m.newDateFilter()">
                                <strong class="text-primary">add filter</strong>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title"><span class="text-muted">Tags</span></h3>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <div ng-if="m.checkDateFilter()" class="row filter">
                <div class="col-sm-12 ">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-11">
                                <form class="form-inline" role="form">
                                    <div class="form-group form-inline">
                                        <select ng-model="filter.type" class="input input-sm form-control" name="search-type" id="filter-type">
                                            <option value>- select type -</option>
                                            <option value="import_min"> import min </option>
                                            <option value="import_max"> import max </option>
                                            <option value="detect_min"> detect min </option>
                                            <option value="detect_max"> detect max </option>
                                        </select>
                                        <input
                                                class="input input-sm form-control"
                                                type="text"
                                                name="filter-datetime"
                                                id="filter-datetime"
                                                ng-model="filter.datetime"
                                                ng-required="true"
                                                ng-minlength="14"
                                                ng-maxlength="19"
                                                ng-trim="true"
                                                placeholder="mm-dd-yyyy hh:mm:ss"
                                                maxlength="19"
                                                size="20">
                                        <button class="btn btn-default btn-sm" ng-click="m.addDateFilter(filter)"><span class="glyphicon glyphicon-plus"></span></button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-primary btn-sm" ng-click="filter.datetime = m.getDateNow()">now</button>
                                        <button class="btn btn-primary btn-sm" ng-click="filter.datetime = m.getDateMinusHour()">hour ago</button>
                                        <button class="btn btn-primary btn-sm" ng-click="filter.datetime = m.getDateMinusDay()">day ago</button>
                                        <button class="btn btn-primary btn-sm" ng-click="filter.datetime = m.getDateMinusWeek()">week ago</button>
                                        <button class="btn btn-primary btn-sm" ng-click="filter.datetime = m.getDateMinusMonth()">month ago</button>
                                        <button class="btn btn-primary btn-sm" ng-click="filter.datetime = m.getDateMinusYear()">year ago</button>
                                        <button class="btn btn-danger btn-sm" ng-click="filter.datetime = ''">clear</button>
                                    </div>
                                </form>
                            </div>

                            <div class="col-sm-1">
                                <button ng-if="m.checkDateFilter()" class="btn btn-link btn-danger close" ng-click="m.clearDateFilter()">
                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <table class="table table-condensed table-hover">
                                    <thead>
                                    <tr class="text-center active">
                                        <th>
                                            <strong class="text-primary">Source</strong>
                                            <button type="button" class="btn btn-default btn-link disabled" ng-click="m.sortSource()">
                                                <span ng-if="!m.isSource()" class="glyphicon glyphicon-sort text-info"></span>
                                                <span ng-if="m.isSource()">
                                                    <span ng-if="m.isAsc()" class="glyphicon glyphicon-arrow-up text-info"></span>
                                                    <span ng-if="m.isDesc()" class="glyphicon glyphicon-arrow-down text-info"></span>
                                                </span>
                                            </button>
                                        </th>
                                        <th>
                                            <strong class="text-primary">Provider</strong>
                                            <button type="button" class="btn btn-default btn-link disabled" ng-click="m.sortProvider()">
                                                <span ng-if="!m.isProvider()" class="glyphicon glyphicon-sort text-info"></span>
                                                <span ng-if="m.isProvider()">
                                                    <span ng-if="m.isAsc()" class="glyphicon glyphicon-arrow-up text-info"></span>
                                                    <span ng-if="m.isDesc()" class="glyphicon glyphicon-arrow-down text-info"></span>
                                                </span>
                                            </button>
                                        </th>
                                        <th>
                                            <strong class="text-primary">Feed</strong>
                                            <button type="button" class="btn btn-default btn-link disabled" ng-click="m.sortFeed()">
                                                <span ng-if="!m.isFeed()" class="glyphicon glyphicon-sort text-info"></span>
                                                <span ng-if="m.isFeed()">
                                                    <span ng-if="m.isAsc()" class="glyphicon glyphicon-arrow-up text-info"></span>
                                                    <span ng-if="m.isDesc()" class="glyphicon glyphicon-arrow-down text-info"></span>
                                                </span>
                                            </button>
                                        </th>
                                        <th>
                                            <strong class="text-primary">Detect Time</strong>
                                            <button type="button" class="btn btn-default btn-link" ng-click="m.sortDetect()">
                                                <span ng-if="!m.isDetect()" class="glyphicon glyphicon-sort text-info"></span>
                                                <span ng-if="m.isDetect()">
                                                    <span ng-if="m.isAsc()" class="glyphicon glyphicon-arrow-up text-info"></span>
                                                    <span ng-if="m.isDesc()" class="glyphicon glyphicon-arrow-down text-info"></span>
                                                </span>
                                            </button>
                                        </th>
                                        <th>
                                            <strong class="text-primary">Import Time</strong>
                                            <button type="button" class="btn btn-default btn-link" ng-click="m.sortImport()">
                                                <span ng-if="!m.isImport()" class="glyphicon glyphicon-sort text-info"></span>
                                                <span ng-if="m.isImport()">
                                                    <span ng-if="m.isAsc()" class="glyphicon glyphicon-arrow-up text-info"></span>
                                                    <span ng-if="m.isDesc()" class="glyphicon glyphicon-arrow-down text-info"></span>
                                                </span>
                                            </button>
                                        </th>
                                        <th>
                                            <strong class="text-primary">Tags</strong>
                                            <button type="button" class="btn btn-default btn-link disabled" ng-click="m.sortTags()">
                                                <span ng-if="!m.isTags()" class="glyphicon glyphicon-sort text-info"></span>
                                                <span ng-if="m.isTags()">
                                                    <span ng-if="m.isAsc()" class="glyphicon glyphicon-arrow-up text-info"></span>
                                                    <span ng-if="m.isDesc()" class="glyphicon glyphicon-arrow-down text-info"></span>
                                                </span>
                                            </button>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="event in m.query.events">
                                    <tr class="info">
                                        <td><small class="text-danger"><strong><a class="text-info" href='#'>{{event.source}}</a></strong></small></td>
                                        <td><small class="text-danger"><strong><a class="text-warning" href='#'>{{event.feed_provider}}</a></strong></small></td>
                                        <td><small class="text-danger"><strong><a class="text-danger" href='#'>{{event.feed_name}}</a></strong></small></td>
                                        <td><small>{{event.detect_time}}</small></td>
                                        <td><small>{{event.import_time}}</small></td>
                                        <td><small ng-repeat="tag in event.tags">{{tag}} </small></td>
                                    </tr>
                                    <tr observables-fqdn>
                                    </tr>
                                    <tr observables-dns-answer>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row page-nav">
                        <div class="col-sm-2 text-left">
                            <div class="text-primary">{{m.getShowingStart()}}-{{m.getShowingEnd()}} of {{m.getTotalItems()}} events</div>
                        </div>
                        <div class="col-sm-8 text-center">
                            <div page-selector></div>
                        </div>
                        <div class="col-sm-2 text-right">
                            <div items-per-page-selector></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>