/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 80px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

table.data {
    width: 100%;
}

.intro {
    font-size: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.page-nav {
    padding-bottom: 20px;
}


/*
 * Angular animate
 */

div.placeholder span.ng-enter {
    -webkit-transition:0.1s ease-in all;
    -moz-transition:0.1s ease-in all;
    -o-transition:0.1s ease-in all;
    transition: 0.1s ease-in all;
    opacity: 0;
}
div.placeholder span.ng-enter-stagger {
    transition-delay: 0.1s;
}
div.placeholder span.ng-enter.ng-enter-active {
    opacity: 1;
}


table.table tbody.ng-enter {
    -webkit-transition:0.1s ease-in all;
    -moz-transition:0.1s ease-in all;
    -o-transition:0.1s ease-in all;
    transition: 0.1s ease-in all;
    opacity: 0;
}
table.table tbody.ng-enter-stagger {
    transition-delay: 0.1s;
}
table.table tbody.ng-enter.ng-enter-active {
    opacity: 1;
}

div.filter.ng-enter {
    -webkit-transition:0.5s ease-in all;
    -moz-transition:0.5s ease-in all;
    -o-transition:0.5s ease-in all;
    transition: 0.5s ease-in all;
    opacity: 0;
}
div.filter.ng-enter.ng-enter-active {
    opacity: 1;
}

div.filter.ng-leave {
    -webkit-transition:0.5s ease-in all;
    -moz-transition:0.5s ease-in all;
    -o-transition:0.5s ease-in all;
    transition: 0.5s ease-in all;
    opacity: 1;
}
div.filter.ng-leave.ng-leave-active {
    opacity: 0;
}



.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
